# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t", index_col="order_id")

### Step 4. How many products cost more than $10.00?

In [3]:
chipo1 = chipo.copy()

c3_function = lambda x: float(x[1:-1])

# prices = [float(value[1:-1]) for value in chipo["item_price"]]

chipo1["item_price"] = chipo1["item_price"].apply(c3_function)
products_greater10 = chipo1[chipo1["item_price"] > 10]

products_greater10

,quantity,item_name,choice_description,item_price
order_id,,,,
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...
1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

Step 4b. Alternative way of the step above

In [4]:
chipo2 = chipo.copy()

# First we need to transform item_price column into the float, so it can be compared with other values
prices = [float(value[1:-1]) for value in chipo2["item_price"]]

# Reassigning the column with the converted prices
chipo2["item_price"] = prices

# Deleting the duplicates
chipo_filtered = chipo2.drop_duplicates(["item_name", "quantity", "choice_description"])

chipo_quantity1 = chipo_filtered[chipo_filtered["quantity"] == 1]

chipo_greater10 = chipo_quantity1[chipo_quantity1["item_price"] > 10]["item_name"].nunique()

chipo_greater10

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
item_price_columns = chipo_quantity1[["item_name", "item_price"]].drop_duplicates("item_name")

item_price_columns

                                      item_name  item_price
order_id
1                  Chips and Fresh Tomato Salsa        2.39
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
1         Chips and Tomatillo-Green Chili Salsa        2.39
3                                  Chicken Bowl       10.98
3                                 Side of Chips        1.69
4                                 Steak Burrito       11.75
4                              Steak Soft Tacos        9.25
5                           Chips and Guacamole        4.45
6                          Chicken Crispy Tacos        8.75
6                            Chicken Soft Tacos        8.75
8                               Chicken Burrito        8.49
11                             Barbacoa Burrito        8.99
14                             Carnitas Burrito        8.99
14                                  Canned Soda        1.09
17                                Carnitas Bowl        8.99
17                                Bottled Water        1.09
18        Chips and Tomatillo Green Chili Salsa        2.95
19                                Barbacoa Bowl       11.75
19                                        Chips        2.15
20                           Chicken Salad Bowl        8.75
25                                   Steak Bowl        8.99
26                          Barbacoa Soft Tacos        9.25
26                               Veggie Burrito       11.25
28                                  Veggie Bowl       11.25
40                           Steak Crispy Tacos        9.25
49          Chips and Tomatillo Red Chili Salsa        2.95
75                        Barbacoa Crispy Tacos       11.75
83                            Veggie Salad Bowl       11.25
85           Chips and Roasted Chili-Corn Salsa        2.39
102          Chips and Roasted Chili Corn Salsa        2.95
103                         Carnitas Soft Tacos        9.25
109                               Chicken Salad       10.98
114                           Canned Soft Drink        1.25
129                           6 Pack Soft Drink        6.49
130         Chips and Tomatillo-Red Chili Salsa        2.39
214                                     Burrito        7.40
217                                Crispy Tacos        7.40
230                       Carnitas Crispy Tacos        9.25
250                            Steak Salad Bowl       11.89
276                                 Steak Salad        8.99
279                                        Bowl        7.40
279           Chips and Mild Fresh Tomato Salsa        3.00
304                           Veggie Soft Tacos       11.25
468                         Carnitas Salad Bowl       11.89
501                         Barbacoa Salad Bowl       11.89
575                                       Salad        7.40
668                         Veggie Crispy Tacos        8.49
686                                Veggie Salad        8.49
1500                             Carnitas Salad        8.99

### Step 6. Sort by the name of the item

In [6]:
item_price_columns.sort_values("item_name")

                                      item_name  item_price
order_id
129                           6 Pack Soft Drink        6.49
19                                Barbacoa Bowl       11.75
11                             Barbacoa Burrito        8.99
75                        Barbacoa Crispy Tacos       11.75
501                         Barbacoa Salad Bowl       11.89
26                          Barbacoa Soft Tacos        9.25
17                                Bottled Water        1.09
279                                        Bowl        7.40
214                                     Burrito        7.40
14                                  Canned Soda        1.09
114                           Canned Soft Drink        1.25
17                                Carnitas Bowl        8.99
14                             Carnitas Burrito        8.99
230                       Carnitas Crispy Tacos        9.25
1500                             Carnitas Salad        8.99
468                         Carnitas Salad Bowl       11.89
103                         Carnitas Soft Tacos        9.25
3                                  Chicken Bowl       10.98
8                               Chicken Burrito        8.49
6                          Chicken Crispy Tacos        8.75
109                               Chicken Salad       10.98
20                           Chicken Salad Bowl        8.75
6                            Chicken Soft Tacos        8.75
19                                        Chips        2.15
1                  Chips and Fresh Tomato Salsa        2.39
5                           Chips and Guacamole        4.45
279           Chips and Mild Fresh Tomato Salsa        3.00
102          Chips and Roasted Chili Corn Salsa        2.95
85           Chips and Roasted Chili-Corn Salsa        2.39
18        Chips and Tomatillo Green Chili Salsa        2.95
49          Chips and Tomatillo Red Chili Salsa        2.95
1         Chips and Tomatillo-Green Chili Salsa        2.39
130         Chips and Tomatillo-Red Chili Salsa        2.39
217                                Crispy Tacos        7.40
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
575                                       Salad        7.40
3                                 Side of Chips        1.69
25                                   Steak Bowl        8.99
4                                 Steak Burrito       11.75
40                           Steak Crispy Tacos        9.25
276                                 Steak Salad        8.99
250                            Steak Salad Bowl       11.89
4                              Steak Soft Tacos        9.25
28                                  Veggie Bowl       11.25
26                               Veggie Burrito       11.25
668                         Veggie Crispy Tacos        8.49
686                                Veggie Salad        8.49
83                            Veggie Salad Bowl       11.25
304                           Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo_filtered.sort_values(by="item_price", ascending=False).head(1)

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:
salad = chipo_filtered[chipo_filtered["item_name"] == "Veggie Salad Bowl"]
len(salad)

16

### Step 9. How many times did someone order more than one Canned Soda?

In [26]:
soda = chipo_filtered[(chipo_filtered["item_name"] == "Canned Soda") & (chipo_filtered["quantity"] > 1)]

len(soda)

7